<div>

    <div class="d-flex flex-row justify-content-center">
        <div class="d-flex flex-column">
            <h2>Customers</h2>
            <div> 
                <button mat-icon-ubtton color="primary" (click)="openAddDialog()">
                    <mat-icon aria-hidden="false" aria-label="Add">add</mat-icon>
                </button>
            </div>
            <div>
                <table mat-table [dataSource]="customerList" style="width:400px">
                    <ng-container matColumnDef="customerId">
                        <th mat-header-cell *matHeaderCellDef> Customer ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.customerId}} </td>
                    </ng-container>
                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef> First Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="lastName">
                        <th mat-header-cell *matHeaderCellDef> Last Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element" class="action-link">
                            <button mat-icon-ubtton color="primary" (click)="openEditDialog(element)" class="mx-1">
                                <mat-icon aria-hidden="false" aria-label="Edit">edit</mat-icon>
                            </button>
                            <button mat-icon-ubtton color="primary" (click)="delete(element)" class="mx-1">
                                <mat-icon aria-hidden="false" aria-label="Delete">delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
</div>